#cards {
    display: grid;
    justify-content: center;
    grid-gap: 15    px;
    grid-template-rows: repeat(3,210px);
    grid-template-columns: repeat(6,140px);
}
.card {
    height: 210px;
    width: 140px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
    transform-style: preserve-3d;
    transition: all 500ms ease-in-out;
}
  .card.flipped{
    transform: rotateY(180deg);
  }
  .front-image {
    width: 120px;
    height: 120px;
  }
  .front, .back{
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .card .front{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
  }
  .card .back{
    background-image: url("back.png");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
  }

  body {
    background-color: aquamarine;
  }
  @media (max-width: 1000px) {
    /* Adjust font sizes */
    h1 {
      font-size: 36px;
    }
    #cards {
      grid-template-columns: repeat(3, 140px);
      grid-template-rows: repeat(4, 210px);
      grid-gap: 10px;
    }
  
    .card {
      height: 210px;
      width: 140px;
    }
  
    /* Adjust padding and font size for the restart button */
    .actions button {
      padding: 10px 20px;
      font-size: 24px;
    }
}
